# /opt/app/.env
# Configuración esencial
DO_API_TOKEN="xxx"
DUCKDNS_TOKEN="xxx"
ADMIN_EMAIL="xxx"

# Configuración de la aplicación
DO_REGISTRY="xxx"
APP_IMAGE_NAME="xxx"
DOMAIN="xxx"
APP_PORT="xxx"

# Configuración de Certbot (entorno virtual)
CERTBOT_VENV_PATH="/opt/certbot-venv"
CERTBOT_CONFIG_DIR="/opt/app/certbot"
